<section class="grid-section">

{{#if success_msg}}
<span class="msg-success">{{success_msg}}</span>
{{/if}}

{{#if error}}
<span class="msg-danger">{{error}}</span>
{{/if}}
{{#if error_msg}}
<span class="msg-danger">{{error_msg}}</span>
{{/if}}
</section>