
<header class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a href="#">Ilustrações Lda</a>
    </div>

    <nav class="nav-menu">
      <a href="#" class="nav-link">Início</a>
      <a href="#" class="nav-link">Serviços</a>
      <a href="#" class="nav-link">Projectos</a>
      <a href="#" class="nav-link">Contactos</a>
    </nav>

    <div class="nav-actions">
      <a href="#" class="btn-login">Entrar</a>
    </div>
  </div>
</header>
