
<header class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a href="/">Streaming</a>
    </div>

    <nav class="nav-menu">
      <a href="/" class="nav-link">Início</a>
      <a href="/usuario/registo" class="nav-link">registo</a>
      <a href="/video" class="nav-link">video</a>
    </nav>

    <div class="nav-actions">
      <a href="/usuario/login" class="btn-login">Entrar</a>
    </div>
  </div>
</header>

