<section>
{{#each videos}}
    <a href="{{nome}}">{{path}}</a>
{{/each}}
</section>
<a style="color: white; font-size:32px; margin-left:20px" href="https://www.youtube.com/watch?v=-yGAC8U3uME">Meus maiores ACERTOS como DEV</a><br>
<a style="color: white; font-size:32px; margin-left:20px" href="https://www.youtube.com/watch?v=GPxIhksHxc0">Quem é o dev backend? - Aqueles caras versão dev</a><br>
<a style="color: white; font-size:32px; margin-left:20px" href="https://www.youtube.com/watch?v=8jrJqfdOPs4">Acesso ao Equipamento</a><br>
<a style="color: white; font-size:32px; margin-left:20px" href="https://www.youtube.com/watch?v=Fs0IJ35PAn8">Do ZERO à APOSENTADORIA Só Com APP Porcaria - Janeiro 2026</a>