<form action="/uploadVideo" method="post" enctype="multipart/form-data">
    <label for="import">Importar o seu arquivo</label>
    <input type="text" name="nome">
    <input type="file" name="uploadVideo" id="uploadVideo">
    <button>Upload file</button>
</form>