
<section class="grid-section">

  <form class="form" action="/usuario/registo/feito" method="post">
    <input type="hidden" name="id" value="{{_id}}" />
    <h2>Faca o seu cadastro</h2>
    <label for="nome">nome</label>
    <input type="text" name="nome" />
    <label for="email">email</label>
    <input type="email" name="email" />
    <label for="senha">senha</label>
    <input type="password" name="password" />
    <label for="pa">Inserir senha novamente</label>
    <input type="password" name="passwordConfirm" />
    <button>Criar a conta</button>
  </form>
</section>